{% extends 'base.html.twig' %}

{% block title %}Symfony - app{% endblock %}

{% block body %}
<div class="container my-5">
    <a href="{{ path('test.index') }}">
        <button class="btn btn-primary">Test</button>
    </a>
</div>
{% endblock %}
