{% extends 'base.html.twig' %}

{% block title %}Symfony - app{% endblock %}

{% block body %}
<div class="container py-5">
    <h2>Tableau de contenus provenant de <a href="#">Laravel-app</a></h2>
</div>
{% endblock %}
